*{
    margin: 0px;
    padding: 0px;
    text-align: center;

}

h1
{
    background-color: #081B31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice
{
    height: 100px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover
{
    opacity: 50%;
    cursor: pointer;

}

img
{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid black;

}

.choices
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.score-board
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 3rem;

}
#user-score,#comp-score{
   font-size: 4rem;
   
}
.msg-container
{
    margin-top: 4rem;
}

#msg
{
    background-color: #081B31;
    color: #fff;
    font-size: 1rem;
    display: inline;
    padding: 1rem;
    border-radius: 15px;

}

@media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }